@model StormEkspress.Models.UIModel.HomePageDto
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var breadcrumbs = ViewData["Breadcrumbs"] as List<Breadcrumb>;
    var pageTitle = ViewData["PageTitle"] as string;
}

@if (TempData["ErrorMessage"] != null)
{
    <script type="text/javascript">
        Swal.fire({
            icon: 'error',
            title: 'Hata',
            text: '@TempData["ErrorMessage"]'
        });
    </script>
}

@if (TempData["SuccessMessage"] != null)
{
    <script type="text/javascript">
        Swal.fire({
            icon: 'success',
            title: 'Başarılı',
            text: '@TempData["SuccessMessage"]'  // Türkçe karakterler burada da düzgün görünmeli.
        });
    </script>
}
<head>
    @foreach (var item in Model.Intro)
    {
        <link rel="preload" href="@item.ImageUrl" as="image" type="image/webp">
    }
</head>
<!-- Carousel Start -->
<div class="container-fluid p-0 pb-5">
    <div class="owl-carousel header-carousel position-relative mb-5" data-carousel="header">
        @foreach (var item in Model.Intro)
        {
            <div class="owl-carousel-item position-relative">
                <img class="img-fluid"
                     src="@item.ImageUrl"
                     alt="@item.ImageAlt"
                     loading="lazy"
                     width="1903"
                     height="1070"
                     sizes="(max-width: 768px) 100vw, 1903px"
                     srcset="@item.ImageUrl 1903w,  @item.ImageUrl.Replace(".webp", "-768w.webp") 768w, @item.ImageUrl.Replace(".webp", "-480w.webp") 480w">
                <div class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center" style="background: rgba(6, 3, 21, .5);">
                    <div class="container">
                        <div class="row justify-content-start">
                            <div class="col-10 col-lg-8">
                                <h1 class="custom-h1 text-white text-uppercase mb-3 animated slideInDown">@item.Title</h1>
                                <h2 class="custom-h2 display-3 text-white animated slideInDown mb-4">@Html.Raw(item.Subtitle)</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
<!-- About Start -->
<div class="container-fluid overflow-hidden  px-lg-0">
    <div class="container about  px-lg-0">
        <div class="row g-5 mx-lg-0">
            <div class="col-lg-6 ps-lg-0 wow fadeInLeft" data-wow-delay="0.1s" style="min-height: 400px;">
                <div class="position-relative h-100">
                    <img class="position-absolute img-fluid w-100 h-100" src=@Model.About.MissionImageUrl style="object-fit: contain;" alt=@Model.About.MissionImageAlt>
                </div>
            </div>
            <div class="col-lg-6 about-text wow fadeInUp" data-wow-delay="0.3s">
                <h6 class="text-secondary text-uppercase mb-3">Hakkımızda</h6>
                <h1 class="mb-5">@Model.About.Mission</h1>
                <p class="mb-5">@Html.Raw(Model.About.MissionText)</p>
                <a class="btn-slide mt-2" href="@Url.Action("about")" aria-label="Hakkımızda sayfasına devam et">
                    <i class="fa fa-arrow-right"></i><span>Devamını oku</span>
                </a>
            </div>

        </div>
    </div>
</div>
<!-- About End -->
<!-- Service Start -->
<div class="container-xxl py-5">
    <div class="container py-5">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h6 class="text-secondary text-uppercase mb-3">Hizmetlerimiz</h6>
            <h1 class="mb-5">Hizmetlerimizi Keşfedin</h1>
        </div>
        <div class="row g-4">
            @foreach (var item in Model.Services)
            {
                <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="service-item p-4">
                        <div class="overflow-hidden mb-4">
                            <img class="img-fluid"
                                 src="@item.ImageUrl"
                                 alt="@item.Name"
                                 loading="lazy"
                                 srcset="@item.ImageUrl 1920w,
                             @item.ImageUrl.Replace(".webp", "-small.webp") 800w"
                                 sizes="(max-width: 600px) 800px, (max-width: 1024px) 1200px, 1920px">
                        </div>
                        <h4 class="mb-3">@item.Name</h4>
                        <p>@item.Description</p>
                        <a class="btn-slide mt-2" href="/hizmetlerimiz/@item.Slug">
                            <i class="fa fa-arrow-right"></i><span>Detaylar</span>
                        </a>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<!-- Service End -->
<!-- Feature Start -->
<div class="container-fluid overflow-hidden py-5 px-lg-0">
    <div class="container feature py-5 px-lg-0">
        <div class="row g-5 mx-lg-0">
            <!-- Text Features Column -->
            <div class="col-lg-6 feature-text wow fadeInUp" data-wow-delay="0.1s">
                <h6 class="text-secondary text-uppercase mb-3">Yetkinliklerimiz</h6>
                <h1 class="mb-5">En Güçlü yanımız sizin talepleriniz bizim için çok önemli</h1>

                @foreach (var feature in Model.Features.Where(f => f.Type == "text"))
                {
                    <div class="d-flex mb-5 wow fadeInUp" data-wow-delay="@feature.WowDelay">
                        <i class="fa @feature.Icon text-primary fa-3x flex-shrink-0"></i>
                        <div class="ms-4">
                            <h5>@feature.H5</h5>
                            <p class="mb-0">@feature.P</p>
                        </div>
                    </div>
                }
            </div>

            <!-- Image Feature Column -->
            <div class="col-lg-6 ps-lg-0 wow fadeInRight" data-wow-delay="0.1s" style="min-height: 400px;">
                @{
                    var imageFeature = Model.Features.FirstOrDefault(f => f.Type == "image");
                    if (imageFeature != null)
                    {
                        <div class="position-relative h-100">
                            <img class="position-absolute img-fluid h-100 w-100"
                                 src="@imageFeature.ImageUrl"
                                 style="object-fit: contain;"
                                 alt="@imageFeature.ImageAlt">
                        </div>
                    }
                }
            </div>
        </div>
    </div>
</div>
<!-- Feature End -->
<!-- Quote Start -->
<div class="container-xxl py-5">
    <div class="container py-5">
        <div class="row g-5 align-items-center">
            <div class="col-lg-5 wow fadeInUp" data-wow-delay="0.1s">
                <h6 class="text-secondary text-uppercase mb-3">Bizimle İletişime Geçin</h6>
                <h1 class="mb-5">Sizlere Daha İyi Hizmet Verebilmek İçin Buradayız!</h1>
                <p class="mb-5">Karabük, Safranbolu ve çevresindeki restoranlar ve kafeler için sunduğumuz hızlı kurye hizmetleri ile her zaman yanınızdayız. İletişim formumuzu doldurarak, her türlü soru, öneri veya hizmet taleplerinizle ilgili bizimle kolayca iletişime geçebilirsiniz. Restoranınızın ya da işletmenizin teslimat ihtiyaçları için özel çözümler sunuyoruz. Müşteri memnuniyetini ön planda tutarak, hızlı ve güvenli kurye hizmetlerimizi sizlere en iyi şekilde ulaştırmak için buradayız.</p>
            </div>
            <div class="col-lg-7 px-0 px-md-3">
                <!-- Mobilde padding'i sıfırladık -->
                <div class="bg-light text-center p-4 p-md-5 wow fadeIn mx-auto mw-md-80"
                     data-wow-delay="0.5s"
                     style="max-width: 95%;">
                    <!-- Mobil için max-width eklendi -->
                    <div class="row g-3 g-md-4 justify-content-center">
                        <!-- İçerik ortalandı -->
                        <!-- Kurye Başvuru Butonu -->
                        <div class="col-12 col-md-6 mb-2 mb-md-0">
                            <a href="@Url.Action("courierApplicationForm")"
                               class="btn btn-custom btn-custom-1 w-100 h-100 p-3 p-md-4 d-flex flex-column justify-content-center"
                               role="button"
                               aria-label="Kurye başvuru formunu aç">
                                <h3 style="color:white" class="mb-1 mb-md-2">Kurye Başvuru</h3>
                            </a>
                        </div>

                        <!-- Restoran Başvuru Butonu -->
                        <div class="col-12 col-md-6">
                            <a href="@Url.Action("restaurantApplicationForm")"
                               class="btn btn-custom btn-custom-2 w-100 h-100 p-3 p-md-4 d-flex flex-column justify-content-center"
                               role="button"
                               aria-label="Restoran başvuru formunu aç">
                                <h3 style="color:white" class="mb-1 mb-md-2">Restoran Başvuru</h3>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Quote End -->
<!-- Team Start -->
<div class="container-xxl py-5">
    <div class="container py-5">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h6 class="text-secondary text-uppercase mb-3">Takımımız</h6>
            <h1 class="mb-5">Kuryelerimiz</h1>
        </div>
        <div class="row g-4">
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                <div class="team-item p-4">
                    <div class="overflow-hidden mb-4">
                        <img class="img-fluid" src="~/assets/img/team-1.webp" alt="">
                    </div>
                    <h5 class="mb-0">Musa Öcal G.</h5>
                    <p>Kurucu</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="team-item p-4">
                    <div class="overflow-hidden mb-4">
                        <img class="img-fluid" src="~/assets/img/team-2.webp" alt="">
                    </div>
                    <h5 class="mb-0">Erdem A.</h5>
                    <p>Kurye</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.7s">
                <div class="team-item p-4">
                    <div class="overflow-hidden mb-4">
                        <img class="img-fluid" src="~/assets/img/team-3.webp" alt="">
                    </div>
                    <h5 class="mb-0">Fatih Y.</h5>
                    <p>Kurye</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.9s">
                <div class="team-item p-4">
                    <div class="overflow-hidden mb-4">
                        <img class="img-fluid" src="~/assets/img/team-4.webp" alt="">
                    </div>
                    <h5 class="mb-0">Enes B.</h5>
                    <p>Kurye</p>
                    @* <div class="btn-slide mt-1">
                        <i class="fa fa-share"></i>
                        <span>
                            <a href=""><i class="fab fa-facebook-f"></i></a>
                            <a href=""><i class="fab fa-twitter"></i></a>
                            <a href=""><i class="fab fa-instagram"></i></a>
                        </span>
                    </div> *@
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Team End -->
<!-- Testimonial Start -->
<div class="container-xxl py-5 wow fadeInUp" data-wow-delay="0.1s">
    <div class="container py-5">
        <div class="text-center">
            <h6 class="text-secondary text-uppercase mb-3">Referenslarımız</h6>
            <h1 class="mb-0">Hizmet verdiğimiz mutlu müşterilerimiz</h1>
        </div>
        <div class="owl-carousel testimonial-carousel wow fadeInUp" data-wow-delay="0.1s" data-carousel="testimonial">
            @foreach (var item in Model.References)
            {
                <div class="testimonial-item p-4 my-5">
                    <i class="fa fa-quote-right fa-3x text-light position-absolute top-0 end-0 mt-n3 me-4"></i>
                    <div class="d-flex align-items-end mb-4">
                        <img class="img-fluid flex-shrink-0" alt="@item.Name" src="@item.ImageUrl" style="">
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<!-- Testimonial End -->
@section Scripts
{
}
